body {
    background-image: url("https://img.freepik.com/premium-photo/top-view-che…ng-board-with-copy-space_23-2148765327.jpg?w=1060");
    background-repeat: no-repeat;
    background-size: cover;
  }